services:
  api:
    container_name: stock_api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:8080" # 本機 5001 -> container 8080
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ConnectionStrings__Postgres: "Host=postgres;Port=5432;Database=stockdb;Username=admin;Password=admin123"
    depends_on:
      - postgres
    networks:
      - backend

  postgres:
    container_name: postgres
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: stockdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"  # 讓你本機工具（DBeaver, DataGrip）也可以連
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  pgdata:

networks:
  backend:
    driver: bridge
